p {
    color: blue;
    font-size: medium;
    padding: 12px;
}

.heading p{
    color: black;
    font-size: 6px;
    padding: 6px;
}

button{
    background-color: rgb(22, 22, 22);
    color: rgb(255, 34, 34);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 30px;
    box-sizing: border-box;
}

.b1 button {
    background-color: black;
    color: aqua;
}